html,body{
	margin: 0 auto;
	padding: 0;
	font:12px/18px 微软雅黑;
}
body{
	background:#efefef;
	height: 100%;
	width: 100%;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.btn_pink{
	background: #f4775a;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 2px;
	display: block;
	text-shadow: 2px 2px 3px rgba(178,61,34,0.75);
}